* {
    font-family: verdana, arial, sans-serif;
}

.main {
    margin: auto;
    width: 92%;
    height: 97vh;
    background-color: white;
}

.main h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 72px;

    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.main p {
    text-align: center;
    color: #00008B;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;
    padding-left: 50px;
    padding-right: 50px;
}

.main img {
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

body {
    background-color: lightseagreen;
}

.parent {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.child {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle;
    height: 97vh;
}

a.button {
    margin: auto;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center;
    text-decoration: none;
    color: red;
    font-size: 32px;
    padding: 5px 5px;
    width: 220px;
}

.hvr-pulse-continuous {
    display: block;
}

/* Height 677px responsive */
@media (max-height: 800px) {
    .main h1 {
        font-size: 52px;
        margin-bottom: 0px;
    }
    .main p {
        font-size: 16px;
    }

    .main img {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #img-collected {
        width: 180px;
        height: auto;
    }

    #img-info, #img-char {
        width: 650px;
        height: auto;
    }

    #char-box p {
        margin: auto;
        margin-bottom: 30px;
        text-align: center;
        width: 700px;
    }
};