/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
	border-radius: 8px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
    font-size: 15px;
    width: 20%;
}

.title {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
    width: 505px;
    border-radius: 8px;
    background-color: white;
}

#level {
	background-color: #337ab7;
}
#score {
	background-color: #5bc0de;
}

#lives {
	background-color: #d9534f;
}
#highscore {
    background-color: #f0ad4e;
}

.scoreboard li {
    font-weight: bold;    
}

body {
    border-style: solid;
    border-color: #82C3FF;
    border-width: 0px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #5F9EA0;
}

canvas {
	margin-top: -35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.scoreboard {
	display: inline-block;
	margin: auto;
	width: 707px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    border-color: white;
}

.header-container {
    vertical-align: top;
	margin: auto;
	display: inline-block;
	height: auto;
	width: 713px;
    background-color: white;
    border-radius: 8px;
}

#top-border, #bottom-border, #left-border, #right-border {
    background: rgba(130,195,255,1);
    position: fixed;
    }
    #left-border, #right-border {
        top: 0; bottom: 0;
        width: 10px;
    }
        #left-border { left: 0; }
        #right-border { right: 0; }
        
    #top-border, #bottom-border {
        left: 0; right: 0;
        height: 10px;
        }
        #top-border { top: 0; }
        #bottom-border { bottom: 0; }

.character-container, .collectible-container {
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    height: auto;
    width: 150px;
    background-color: white;
    border-radius: 8px;
}

.character-container h2, .collectible-container h2 {
    margin: auto;
    margin-top: 25px;
    font-size: 27px;
    text-align: center;
    display: block;
}

.character-container li, .collectible-container li {
    visibility: visible;
    margin: auto;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    display: block;
    text-align: center;
}

.character-container li {
    /*visibility: hidden;*/
}

.character-container img, .collectible-container img {
    margin: auto;
    display: block;
}

.btn {
    font-family: "Open Sans", "sans-serif";
    font-size: 13px;
    width: 101px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    background-color: white;
    outline: none;
}

.blue {
    color: #55acee;
    border-width: 2px;
    border-color: #55acee;
    border-style: solid;
}

.blue-active, .blue:hover {
    color: #fff;
    background-color: #55acee;
}

.green {
    color: #2ecc71;
    border-width: 2px;
    border-color: #2ecc71;
    border-style: solid;
}

.green-active, .green:hover {
    color: #fff;
    background-color: #2ecc71;
}

.red {
    color: #e74c3c;
    border-width: 2px;
    border-color: #e74c3c;
    border-style: solid;
}

.red-active, .red:hover {
    color: #fff;
    background-color: #e74c3c;
}

.purple {
    color: #9b59b6;
    border-width: 2px;
    border-color: #9b59b6;
    border-style: solid;
}

.purple-active, .purple:hover {
    color: #fff;
    background-color: #9b59b6;
}

.orange {
    color: #e67e22;
    border-width: 2px;
    border-color: #e67e22;
    border-style: solid;
}

.orange-active, .orange:hover {
    color: #fff;
    background-color: #e67e22;
}

.main-container {
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin: auto;
    width: 713px;
    height: 713px;
    border-radius: 8px;
}

.collectible-row h3 {
    margin: 0px;
    padding: 5px;
    font-size: 13px;
}

#ruby-gem h3{
    color: #EE316B;
}

#blue-gem h3 {
    color: #6F8FF7;
}

#green-gem h3 {
    color: #34FA6C;
}

#keys h3 {
    color: #D0CC57;
}

#star h3 {
    color: #F2DF11;
}

.body-container {
    margin: auto;
    margin-top: 30px;
    background-color: white;
    width: 1200px;
    height: 800px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #4682B4;
}

.info-container {
    width: 1210px;
    height: 160px;
    margin: auto;
    margin-top: 7px;
}

.info-updates, .current-effects {
    margin: auto;
    text-align: center;
    vertical-align: top;
    width: 49%;
    height: 150px;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #20B2AA;
}

.current-effects {
    border-color: #66CDAA;
}

.info-updates h1 {
    line-height: 150px;
    padding: 0px;
    color: blue;
}

.current-effects h2 {
    margin: 0px;
    font-size: 32px;
    line-height: 80px;
}

.current-effects h3 {
    margin: 0px;
    line-height: 50px;
    font-style: italic;
}

#info-message {
    font-size: 24px;
}