ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
		border-radius: 10px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-decoration: none;
    font-size: 15px;
    width: 30.33%;
}


#level {
	background-color: #337ab7;
}
#score {
	background-color: #5bc0de;
}

#lives {
	background-color: #d9534f;
}

body {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #5cb85c;
}

canvas {
		margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.scoreboard {
	display: inline-block;
	margin: auto;
	width: 505px;
}

.header-container {
	margin: auto;
	display: inline-block;
	height: auto;
	width: 505px
}