h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
	border-radius: 8px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
    font-size: 15px;
    width: 20%;
}

.title {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
    width: 505px;
    border-radius: 8px;
    background-color: white;
}

#level {
	background-color: #337ab7;
}
#score {
	background-color: #5bc0de;
}

#lives {
	background-color: #d9534f;
}

#bugsplat {
    background-color: #f0ad4e;
}

body {
    margin: 0;
    border-style: solid;
    border-color: #82C3FF;
    border-width: 0px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #5cb85c;
}

canvas {
	margin-top: -35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.scoreboard {
	display: inline-block;
	margin: auto;
	width: 707px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    border-color: white;
}

.header-container {
    vertical-align: top;
	margin: auto;
	display: inline-block;
	height: auto;
	width: 713px;
    background-color: white;
    border-radius: 8px;
}

#top-border, #bottom-border, #left-border, #right-border {
    background: rgba(130,195,255,1);
    position: fixed;
    }
    #left-border, #right-border {
        top: 0; bottom: 0;
        width: 10px;
    }
        #left-border { left: 0; }
        #right-border { right: 0; }
        
    #top-border, #bottom-border {
        left: 0; right: 0;
        height: 10px;
        }
        #top-border { top: 0; }
        #bottom-border { bottom: 0; }

.character-container {
    margin: auto;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    height: auto;
    width: 150px;
    background-color: white;
    border-radius: 8px;
}

.character-container h2 {
    font-size: 28px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    display: block;
}

.character-container li {
    visibility: hidden;
    margin: auto;
    width: 150px;
    display: block;
    text-align: center;
}

.character-container img {
    margin: auto;
    display: block;
}

.character-container button {
    width: 101px;
    border-radius: 8px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-container {
    background-color: white;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
    width: 713px;
    height: 713px;
    border-radius: 8px;
}